.row-header {
  margin: 0px;
  padding: 0px 0px;
}
.row-content {
  margin: 0px;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #e23456;
  margin: 0px;
  padding: 20px 0px;
}
.jumbotron {
  margin: 0px;
  padding: 70px 30px;
  background: #56dcf1;
}
.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
.body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navar-dark {
  background-color: #563222;
}
.tab-content {
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  padding: 10px;
}
.carusel {
  background: #563222;
}
.carusel .carusel-item {
  height: 300px;
}
.carusel .carusel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#carouselButton {
  right: 0px;
  position: absolute;
}
